<%- include("./partials/header") %>

    <div class="row text-center">
        <div class="col-md-12">
            <form class="form-signin" action="/forgot" method="post">
                <legend>Forgot Password</legend>
                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input id="email" class="form-control" type="email" name="email" placeholder="Email" autofocus>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>

<%- include("./partials/footer") %>