<%- include("../partials/header") %>

<h1>Notifications</h1>

<ul>
    <% allNotifications.forEach(function(notification) { %>
        <li>
            <a href="/places/<%= notification.placeId %>">
                <%= notification.username %> created a new place %>
            </a>
        </li>
    <% }); %>
</ul>

<%- include("../partials/footer") %>